In [31]:
import sqlite3
import numpy as np
import pandas as pd

In [32]:
con = sqlite3.connect("olist.db")
sql = pd.read_sql_query("Select * from rfm_table", con)
data = pd.DataFrame(sql)
data.shape

(110840, 5)

In [33]:
data.head()

,order_id,customer_unique_id,order_purchase_timestamp,review_score,price
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,2.458029e+06,4.0,29.99
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,2.458324e+06,4.0,118.70
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,2.458339e+06,5.0,159.90
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,2.458076e+06,5.0,45.00
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,2.458163e+06,5.0,19.90

In [34]:
agg = data.groupby("customer_unique_id").agg(
     frequency=pd.NamedAgg(column="order_id", aggfunc="count"),
     recency=pd.NamedAgg(column="order_purchase_timestamp", aggfunc="max"),
     monetary=pd.NamedAgg(column="price", aggfunc="sum"),
     contentment=pd.NamedAgg(column="review_score", aggfunc="mean"),
)

In [35]:
agg["recency"] = round(data["order_purchase_timestamp"].max() - agg["recency"])

In [36]:
agg.head()

                                  frequency  recency  contentment  monetary
customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2          1    111.0          5.0    129.90
0000b849f77a49e4a4ce2b2a4ca5be3f          1    114.0          4.0     18.90
0000f46a3911fa3c0805444483337064          1    537.0          3.0     69.00
0000f6ccb0745a6a4b88665a16c9f078          1    321.0          4.0     25.99
0004aac84e0df4da2b147fca70cf8255          1    288.0          5.0    180.00

In [39]:
agg.describe()

          frequency       recency   contentment      monetary
count  93358.000000  93358.000000  92755.000000  93358.000000
mean       1.187258    237.519527      4.153360    142.246370
std        0.650815    152.596929      1.280555    216.931229
min        1.000000      0.000000      1.000000      0.850000
25%        1.000000    114.000000      4.000000     47.800000
50%        1.000000    219.000000      5.000000     89.900000
75%        1.000000    346.000000      5.000000    155.000000
max       24.000000    713.000000      5.000000  13440.000000